.list_container {
    width: 300px;
}

.add_item_div {
    border-bottom: 1px solid #d3d3d3;
}

.add_item {
    composes: input from '../../sharedStyles/styles.css';
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .add_item_div {
        border: none;
    }
}
