.container1 {
    display: flex;
    width: 815px;
    justify-content: space-between;
}

.list_outer_container {
    width: 300px;
    min-height: 310px;
    composes: light_border from '../../sharedStyles/styles.css';
}

.details_outer_container {
    width: 500px;
    min-height: 310px;
}

.header {
    padding: 15px;
    font-size: 2em;
    color: #ffffff;
    composes: gradient_background from '../../sharedStyles/styles.css';
}

.sub_container {
    min-height: 800px;
    padding: 200px 0px 0px 350px;
}
.app_container {
    width: 100%;
}

.loading_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

@media only screen and (max-width: 700px) {
    .header {
        text-align: center;
    }
    .container1 {
        flex-direction: column;
        width: 300px;
    }
    .details_outer_container {
        width: 300px;
        min-height: 306px;
        padding-top: 20px;
    }
    .list_outer_container {
        min-height: 75px;
    }
    .sub_container {
        display: flex;
        padding: 30px 0px 0px 0px;
        justify-content: center;
        align-items: flex-start;

    }
}