.header {
    background: linear-gradient(rgba(0,229,145,1), rgba(47,239,188,1));
    font-size: 2em;
    color: #ffffff;
    padding: 15px;
}

.list_title {
    composes: sub_title from '../../sharedStyles/styles.css';
}

.items_div {
    --width: 300px;
}

.add_item_container {
    --width: 300px;
    composes: light_border from '../../sharedStyles/styles.css';
    composes: item_padding from '../../sharedStyles/styles.css';
}

.details_div {
    --width: 500px;
    composes: light_border from '../../sharedStyles/styles.css';
}